Source: libtcod
Priority: extra
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 libsdl-dev,
 libx11-dev,
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: libtcod-dev
Section: libdevel
Architecture: any
Depends:
 libtcodBROKEN (= ${binary:Version})
Description: cross-platform library for roguelike developers - development files
 A free, fast, portable and uncomplicated API for roguelike developpers
 providing an advanced true color console, input, and lots of other
 utilities frequently used in roguelikes.
   - keyboard and mouse input
   - true color console
   - antialiased bitmap font support
   - Sub-cell resolution & SDL callback
   - unicode support
   - high quality pseudo-random number generator
   - advanced plain text configuration file parser
   - bmp and png images support
   - Perlin noise toolkit
   - heightmap toolkit
   - field of view toolkit
   - path finding toolkit
   - BSP toolkit
   - Flexible name generator
 .
 This package contains the development files.

Package: libtcodBROKEN
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: cross-platform library for roguelike developers
 A free, fast, portable and uncomplicated API for roguelike developpers
 providing an advanced true color console, input, and lots of other
 utilities frequently used in roguelikes.
   - keyboard and mouse input
   - true color console
   - antialiased bitmap font support
   - Sub-cell resolution & SDL callback
   - unicode support
   - high quality pseudo-random number generator
   - advanced plain text configuration file parser
   - bmp and png images support
   - Perlin noise toolkit
   - heightmap toolkit
   - field of view toolkit
   - path finding toolkit
   - BSP toolkit
   - Flexible name generator
