Source: libtcod
Priority: extra
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 libx11-dev,
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: libtcod-dev
Section: libdevel
Architecture: any
Depends:
 libtcodBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libtcodBROKEN
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
