Source: libtcod
Priority: extra
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libtcod.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libtcod.git;a=summary

Package: libtcod-dev
Section: libdevel
Architecture: any
Depends: libtcodBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libtcodBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
