#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	make -f makefiles/makefile-linux

override_dh_auto_clean:
	make -f makefiles/makefile-linux clean

upstream_version = $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)(\+dfsg\d+)?.*$$/\1/p')
dfsg_version = $(upstream_version)+dfsg1
get-orig-source:
	@if [ ! -e "debian/changelog" ] ; then \
	    echo 'Run this from the top directory of the Debian source' >&2; \
	    exit 1; \
	fi
	uscan --noconf --force-download --rename --download-current-version --destdir=.
	tar xzf libtcod_$(upstream_version).orig.tar.gz
	rm libtcod_$(upstream_version).orig.tar.gz
	mv libtcod-$(upstream_version) libtcod-$(dfsg_version)
	find libtcod-$(dfsg_version) -name '*.so' -delete
	GZIP=--best tar -cz --owner root --group root --mode a+rX \
                        -f libtcod_$(dfsg_version).orig.tar.gz \
                        libtcod-$(dfsg_version)
	rm -r libtcod-$(dfsg_version)
