#!/usr/bin/make -f

upstream_version = $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)(\+dfsg\d+)?.*$$/\1/p')
dfsg_version = $(upstream_version)+dfsg1
soname=1

HEADER_H:=$(wildcard include/*.h)
HEADER_H:=$(HEADER_H:include/%=%)
HEADER_HPP:=$(wildcard include/*.hpp)
HEADER_HPP:=$(HEADER_HPP:include/%=%)

%:
	dh $@ 

override_dh_auto_build:
	mkdir include/libtcod
	for f in $(HEADER_H) $(HEADER_HPP) ; do \
	    perl -p -i.bak -e '/libtcod\.h/ || s/^#include "(.*)"$$/#include <libtcod\/$$1>/' include/$$f; \
	    if [ $$f = libtcod.h -o $$f = libtcod.hpp -o $$f = libtcod_int.h ] ; then continue ; fi ; \
	    mv include/$$f include/libtcod/$$f; \
	done
	perl -p -i.bak -e 's/^#include "(wrappers.h)"$$/#include <libtcod\/$$1>/' src/wrappers.c
	make -f makefiles/makefile-linux release FLAGS="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" LDFLAGS="$(shell dpkg-buildflags --get LDFLAGS)"

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib
	install libtcod.so debian/tmp/usr/lib/libtcod.so.$(upstream_version)
	cd debian/tmp/usr/lib ; ln -s libtcod.so.$(upstream_version) libtcod.so.$(soname)
	cd debian/tmp/usr/lib ; ln -s libtcod.so.$(upstream_version) libtcod.so

override_dh_auto_clean:
	make -f makefiles/makefile-linux clean

override_dh_installchangelogs:
	dh_installchangelogs libtcod-CHANGELOG.txt

override_dh_strip:
	dh_strip --dbg-package=libtcod1-dbg

get-orig-source:
	@if [ ! -e "debian/changelog" ] ; then \
	    echo 'Run this from the top directory of the Debian source' >&2; \
	    exit 1; \
	fi
	uscan --noconf --force-download --rename --download-current-version --destdir=.
	tar xzf libtcod_$(upstream_version).orig.tar.gz
	rm libtcod_$(upstream_version).orig.tar.gz
	mv libtcod-$(upstream_version) libtcod-$(dfsg_version)
	find libtcod-$(dfsg_version) -name '*.so' -delete
	rm libtcod-$(dfsg_version)/hmtool
	rm libtcod-$(dfsg_version)/samples_c
	rm libtcod-$(dfsg_version)/samples_c_debug
	rm libtcod-$(dfsg_version)/samples_cpp
	rm libtcod-$(dfsg_version)/samples_cpp_debug
	GZIP=--best tar -cz --owner root --group root --mode a+rX \
                        -f libtcod_$(dfsg_version).orig.tar.gz \
                        libtcod-$(dfsg_version)
	rm -r libtcod-$(dfsg_version)
