#!/usr/bin/make -f

upstream_version = $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)(\+dfsg\d+)?.*$$/\1/p')
dfsg_version = $(upstream_version)+dfsg2
soname=0

%:
	dh $@ 

override_dh_auto_build:
	make -f makefiles/makefile-linux release FLAGS="-fPIC $(CFLAGS)"

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib
	install libtcod.so debian/tmp/usr/lib/libtcod.so.$(upstream_version)
	install libtcodgui.so debian/tmp/usr/lib/libtcodgui.so.$(upstream_version)
	install libtcodxx.so debian/tmp/usr/lib/libtcodxx.so.$(upstream_version)
	mkdir -p debian/tmp/usr/include
	install -t debian/tmp/usr/include include/libtcod.h include/libtcod.hpp
	cd debian/tmp/usr/lib ; ln -s libtcod.so.$(upstream_version) libtcod.so.$(soname)
	cd debian/tmp/usr/lib ; ln -s libtcodgui.so.$(upstream_version) libtcodgui.so.$(soname)
	cd debian/tmp/usr/lib ; ln -s libtcodxx.so.$(upstream_version) libtcodxx.so.$(soname)
	cd debian/tmp/usr/lib ; ln -s libtcod.so.$(soname) libtcod.so
	cd debian/tmp/usr/lib ; ln -s libtcodgui.so.$(soname) libtcodgui.so
	cd debian/tmp/usr/lib ; ln -s libtcodxx.so.$(soname) libtcodxx.so

override_dh_auto_clean:
	make -f makefiles/makefile-linux clean

override_dh_installchangelogs:
	dh_installchangelogs libtcod-CHANGELOG.txt

get-orig-source:
	@if [ ! -e "debian/changelog" ] ; then \
	    echo 'Run this from the top directory of the Debian source' >&2; \
	    exit 1; \
	fi
	uscan --noconf --force-download --rename --download-current-version --destdir=.
	tar xzf libtcod_$(upstream_version).orig.tar.gz
	rm libtcod_$(upstream_version).orig.tar.gz
	mv libtcod-$(upstream_version) libtcod-$(dfsg_version)
	find libtcod-$(dfsg_version) -name '*.so' -delete
	rm libtcod-$(dfsg_version)/hmtool
	rm libtcod-$(dfsg_version)/samples_c
	rm libtcod-$(dfsg_version)/samples_c_debug
	rm libtcod-$(dfsg_version)/samples_cpp
	rm libtcod-$(dfsg_version)/samples_cpp_debug
	GZIP=--best tar -cz --owner root --group root --mode a+rX \
                        -f libtcod_$(dfsg_version).orig.tar.gz \
                        libtcod-$(dfsg_version)
	rm -r libtcod-$(dfsg_version)
